numpy~=2.0.0
loguru~=0.7.2
ete3~=3.1.3
six
prompt_toolkit~=3.0.47
prettytable~=3.10.2
python-dateutil~=2.9.0.post0
PyPDF2~=3.0.1
matplotlib~=3.9.1
pandas~=2.2.2
yahoo_fin
yfinance~=0.2.40
typing-extensions
fpdf~=1.7.2
requests~=2.32.3