appdirs==1.4.4
Babel==2.11.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
contourpy==1.0.6
cssselect==1.2.0
cycler==0.11.0
ete3==3.1.2
fake-useragent==1.1.1
feedparser==6.0.10
fonttools==4.38.0
googlefinance==0.7
idna==3.4
importlib-metadata==5.2.0
keyboard==0.13.5
kiwisolver==1.4.4
lambdas==0.1.0
lxml==4.9.2
matplotlib==3.6.2
numpy==1.24.0
packaging==22.0
pandas==1.5.2
parse==1.19.0
Pillow==9.3.0
pyee==8.2.2
pyparsing==3.0.9
PyPDF2==2.12.1
pyppeteer==1.0.2
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2022.7
requests==2.28.1
requests-html==0.10.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
sv-ttk==2.4
tk==0.1.0
tkcalendar==1.6.1
tqdm==4.64.1
typing-extensions==3.10.0.2
urllib3==1.26.13
w3lib==2.1.1
websockets==10.4
yahoo-fin==0.8.9.1
zipp==3.11.0
